.contentList {
    margin-top: 58px;
    background-color: #fff;
    height: initial;
}

.index {
    float: left;
    /* border: 1px solid red; */
    padding: 2px 0;
    background-color: #D2D2D2;
    height: 100%;
    position: fixed;
}

.content {
    margin-left: 230px;
    background-color: #fff;
    padding-left: 28px;
    padding-bottom: 25px;
    min-height: 100%;
}

.copyright {
    width: 189px;
    position: absolute;
    bottom: 12px;
}

.link {
    cursor: pointer;
    padding: 10px 23px;
    list-style: none;
}