html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    font-family: microsoft yahei light,microsoft yahei;
    font-weight: 100;
}
.hide{
    display: none;
}

.banner {
    color: #fff;
    text-align: center;
    font-size: 47px;
    line-height: 20px;
    padding-top: 360px;
    text-shadow: 0 0 11px rgba(86, 86, 86, 0.99);
}
.wrapper {
    width: 1003px;
    margin: 0 auto;
}
.intro {
    font-size: 16px;
    margin-top: 58px;
    height: 270px;
    background-color: rgb(73, 73, 73);
    color: #fff;
}

.learnMore {
    font-size: 14px;
    margin-top: 15px;
}

.go {
    background: url(image/go.png) no-repeat;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    background-size: 100%;
    background-position: 0px 0px;
    margin-top: 18px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 74px;
    margin-left: -25px;
}
@keyframes flash{
    0%{
        box-shadow: 0 0 0px 2px rgb(199, 172, 68);
        transform: scale(0.7);
    }

    50%{
        box-shadow: 0 0 2px 2px rgb(255, 221, 89);
        transform: scale(0.78);
    }

    100%{
        box-shadow: 0 0 0px 2px rgb(199, 172, 68);
        transform: scale(0.7);
    }

}
@-webkit-keyframes flash{
    0%{
        box-shadow: 0 0 0px 2px rgb(199, 172, 68);
        transform: scale(0.7);
    }

    50%{
        box-shadow: 0 0 2px 2px rgb(255, 221, 89);
        transform: scale(0.78);
    }

    100%{
        box-shadow: 0 0 0px 2px rgb(199, 172, 68);
        transform: scale(0.7);
    }

}


.flash{
    -webkit-animation: flash 2.5s cubic-bezier(0.4, 0, 1, 1) infinite;
    animation: flash 2.5s cubic-bezier(0.4, 0, 1, 1) infinite;
}


.page {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas#canvas {
    width: 400px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;
}

.fade {
    left: 60%;
    opacity: 0;
    transition: cubic-bezier(0.02, 0.64, 1, 1) 0.7s all;
}


body.doc {
    background: rgb(210, 210, 210);
    -webkit-transition: background ease-in 0.3s;
    height: auto;
    overflow: auto;
}

.doc .page1 {
    display: none;
}

.header {
    height: 50px;
    background: rgba(0, 0, 0, 0.72);
    color: #25D7D5;
    font-size: 22px;
    font-weight: 100;
    padding-left: 21px;
    padding-top: 8px;
    position: fixed;
    width: 100%;
    z-index: 111;
}

.page.page2 {
    overflow: auto;
}

.tab1.active, .tab2.active, .tab3.active {
    color: red !important;
    background-color: #FFFCE5 !important;
    border-bottom: none !important;
    margin-top: 0px;
}

.tab1, .tab2,.tab3 {
    cursor: pointer;
}

.subpage1 {
    height: 100%;
    overflow: auto;
}

#bar div {
    height: 10px;
    background-color: red;
}

div#bar {
    width: 262px;
}

.header {}



.usingIntro > span {
    display: inline-block;
    width: 149px;
}

.usingIntro {
    text-align: center;
}

.usingIntro .icon {
    background: url(image/tribe.png) no-repeat;
    height: 106px;
    background-position: 53px 50px;
    background-size: 47px 41px;
}

.activity .icon {
    background-image: url(image/activity.png);
    background-size: 47px 41px;
}

.moreOfYou .icon {
    background-image: url(image/more.png);
    background-size: 44px;
}

.intro h1 {
    text-align: center;
    font-size: 48px;
    line-height: 112px;
    color: #24CAC8;
}

.codePlay {
    float: right;
    width: 270px;
    overflow: hidden;
    position: relative;
}

.examintro {
    float: left;
    border: 1px solid silver;
    width: 661px;
    padding: 2px 17px;
    background-color: white;
}

.des {
    overflow: auto;
}

div#tabs ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgb(163, 163, 163);
    overflow: auto;
}

#tabs li {
    border: 1px solid rgb(163, 163, 163);
    border-left: none;
    float: left;
    border-top: none;
    list-style: none;
    padding: 12px;
    /* border-top-left-radius: 15px; */
    /* border-top-right-radius: 9px; */
    background-color: #C7C7C7;
    color: #fff;
    width: 50px;
    text-align: center;
}
div#tabs  li:first-child{
    border-left: 1px solid rgb(163, 163, 163);
    /* border-top-left-radius: 10px; */
}
div#tabs {
    background-color: #fff;
    overflow: hidden;
    width: 226px;
}

div.tabpage {
    border: 1px solid rgb(163, 163, 163);
    background-color: #FFFCE5;
    border-top: none;
    padding: 32px;
    margin-top: -1px;
    text-align: center;
}

div#render {
    background-color: #FFFCE5;
    font-size: 14px;
    padding: 7px;
    border-radius: 5px;
}

div#mobilePage {
    background-color: #FFFCE5;
    width: 230px;
}

div#header {
    text-align: center;
    line-height: 36px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    height: 36px;
}

.submain {
    height: 99px;
    background-color: #fff;
}

ul.bottomNav {
    margin: 0;
    padding: 0;
    font-size: 0;
    display: flex;
}

.bottomNav li {
    list-style: none;
    display: inline-block;
    text-align: center;
    width: 76px;
    height: 52px;
    line-height: 52px;
    background-color: #ccc;
    font-size: 16px;
    flex: 1;
    cursor: pointer;
}

.submain ol {
    list-style-position: outside;
    margin-left: -9px;
    font-size: 14px;
    background-color: #fff;
}

.subpage1 div {
    text-align: center;
    font-size: 12px;
}

.bottomNav li.active.selected {
    background-color: #ECECEC;
}

#listing {
    background-color: rgb(255, 252, 229);
    height: 100px;
    overflow: auto;
}

#listing li {
    padding: 4px;
    margin-left: -5px;
}

.loading {
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
    color: #000;
}

.outMd {
    min-height: 99px;
    word-break: break-all;
    line-height: 20px;
}

span.logo {
    display: inline-block;
    background: url(image/more.png) no-repeat;
    height: 61px;
    width: 45px;
    background-size: 100%;
    vertical-align: middle;
}

.header span.logo {
    width: 28px;
    height: 34px;
}

span.right {
    float: right;
    padding-right: 39px;
    font-size: 16px;
    margin-top: 8px;
}

.btn {
    display: inline-block;
    background-color: #C97523;
    border-radius: 2px;
    padding: 6px 11px;
    cursor: pointer;
    color: #fff;
}

.download {
    text-align: center;
}

.btn:hover {
    background-color: #EA9747;
}

.btn:active {
    background-color: rgb(174, 102, 32);
}

.pagation {
    list-style: none;
}

li.pageItem {
    display: inline-block;
    padding: 3px;
    background-color: #BABABA;
    border-radius: 3px;
    margin: 2px;
    cursor: pointer;
}

.contentList {
    height: 130px;
    overflow: auto;
}

.subtitle {
    text-align: center;
    margin-top: -50px;
    margin-bottom: 70px;
    font-size: 19px;
    color: #FCFCFC;
}

.btn-red {
    margin-left: 22px;
    background-color: rgb(37, 136, 197);
}

.btn-red:hover {
    background-color: rgb(73, 152, 200);
}

.btn-red:active {
    background-color: rgb(33, 113, 163);
}

div.dialogWrapper,.dialogWrapper2 {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    background-color: #FFF;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 2px 2px rgba(113, 113, 113, 0.33);
    padding: 0;
    border: 1px solid #B3B3B3;
}

.dialogWrapper h2,.dialogWrapper2 h2 {
    font-size: 16px;
    padding: 0px 11px;
    border-bottom: 1px solid #B3B3B3;
    margin-top: 2px;
    line-height: 31px;
    height: 34px;
}

.dialogWrapper .close,.dialogWrapper2 .close2 {
    float: right;
    color: rgb(161, 49, 83);
    font-size: 16px;
    cursor: pointer;
}

.dialogContent {
    padding: 53px 53px;
}

.dialogWrapper .close:hover {
    color: red;
}

.subpage_1, .subpage_2 {
    background-color: rgb(255, 252, 229);
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 100%;
    transition: left cubic-bezier(0, 0.67, 0.44, 0.99) 0.3s;
    padding: 34px 0;
}

div#pageAnimation {
    width: 179px;
    height: 171px;
}

.subpage_1, .subpage_2.current {
    left: 0;
}

.subpage_2 {
    background-color: rgb(178, 247, 244);
}

body {
    overflow: hidden;
}

.feature > span {
    display: inline-block;
    width: 275px;
    vertical-align: top;
    margin: 2px 16px;
}
.feature.wrapper > span p {
    text-align: left;
}

.feature {
    text-align: center;
}

.spliter {
    height: 1px;
    background-color: rgb(189, 189, 189);
    margin-top: 72px;
}

.toTop {
    position: fixed;
    bottom: 16px;
    right: 56px;
    background-color: rgb(194, 194, 194);
    color: #fff;
    padding: 13px;
    cursor: pointer;
}

.toTop:hover {
    background-color: rgb(190, 130, 130);
}

.copyright {
    text-align: center;
    height: 88px;
    line-height: 31px;
    color: #5E5E5E;
    padding-top: 39px;
}

.btn a {
    display: block;
    height: 100%;
    color: #fff;
    text-decoration: none;
}